python-telegram-bot
Flask
gunicorn
uvicorn[standard] 
# asyncio ve datetime standart kütüphanelerdir, eklemeye gerek yok.
# aiofiles # Eğer ileride dosya işlemlerini asenkron yaparsanız eklersiniz.
